/* Responsiv css */

@media only screen and (max-width: 992px) {
  html {
    font-size: 55%;
  }
  .header-mid ul li a {
    padding: 1rem 1.5rem;
  }

  .header-right {
    padding-right: 2rem;
  }
  .side-mid-right a {
    display: block;
  }
  #pm_menu {
    width: 30rem;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 45%;
  }
  .header-mid ul li a {
    padding: 1rem 1.5rem;
    font-size: 2rem;
}
  .header-right {
    padding-right: 1rem;
  }
  .button-tow a {
    padding: 2.5rem 2.3rem;
  }
  .side-mid-right a {
    display: block;
  }
  #pm_menu {
    width: 30rem;
  }
}

@media only screen and (max-width: 576px) {
  html {
    font-size: 35%;
  }
  .writing-menu {
    display: none;
  }
  .writing {
    height: 100vh;
  }
  .writing-section {
    width: 100%;
    height: 100vh;
  }
  .footer-right {
    text-align: center;
  }
  .footer-left {
    text-align: center;
  }

  .tools-left {
    justify-content: flex-start;
  }

  .col-md-2.col-sm-2 {
    width: 22%;
  }

  .col-md-4.col-sm-4.mid {
    width: 38%;
  }
  .col-md-6.col-sm-6.tool {
    width: 60%;
  }
  .col-md-6.col-sm-6.tool2 {
    width: 40%;
  }
  .col-md-6.col-sm-6.last {
    width: 40%;
  }
  .header-img {
    /* position: relative;
  top: -28px; */
  }
  .action {
    display: block;
  }
  .side {
    width: 34%;
  }
  .button-one {
    display: none;
  }
  .side-mid-right a {
    display: block;
  }
  #pm_menu {
    width: 30rem;
  }
  div#open {
    display: flex;
    align-items: center;
}
.header-left h6 {
  font-size: 2rem;
  
}
.header-icon button {
  width: 4rem;
  height: 4rem;
}
.header-icon button i {
  font-size: 2rem;
}
.header-img {
  padding: .4rem;
}
.header-mid ul li ul li ul {
  left: 104px;
  top: 0%;
  }
}

@media only screen and (max-width: 440px) {
  .button-tow a {
    padding: 2.5rem 1.3rem;
  }

  .button-tow a {
    font-size: 1.1rem;
  }
  .header-left h6 {
    margin-left: 0rem;
    font-size: 2rem;
  }

  .col-md-2.col-sm-2 {
    width: 18%;
  }
  .col-md-4.col-sm-4 {
    width: 40%;
}
  .header-mid ul li a {
    font-size: 1.4rem;
  }
  .col-md-6.col-sm-6.last {
    width: 42%;
  }
  .tools-right {
    margin-right: 0rem;
  }
  .tools-leftbox-one ul li a {
    padding: 0.5rem 0.5rem;
      font-size: 1.5rem;
  }
    #pm_menu {
    width: 30rem;
  }
  div#open {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-icon button {
  width: 4rem;
  height: 4rem;
}
.header-icon button i {
  font-size: 2rem;
}
.header-img {
  padding: .4rem;
}
.tools-rightbox-one ul li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: rgb(71, 77, 77);
  padding: 0.7rem 1.5rem;
  font-size: 1.4rem;
}

.tools-leftbox-tow button {
  width: 3.5rem;
  height: 3.3rem;
}
.tools-rightbox-tow button {
  width: 3.7rem;
  height: 3.4rem;
}

.header-mid ul li ul li ul {
  left: 104px;
  top: 0%;
  }
}



@media only screen and (max-width:360px){
  .header-mid ul li a {
    padding: 1rem 0.9rem !important;
    font-size: 1.7rem;
}
.header-img {
  padding: 2px;
  margin-left: 0.4rem;
}
.col-md-4.col-sm-4.mid {
  width: 40%;
}

  .header-mid ul li a {
    padding: 1rem 0.9rem !important;
    font-size: 1.7rem;
}
.col-md-6.col-sm-6.tool {
  width: 58%;
}
.col-md-6.col-sm-6.tool2 {
  width: 42%;
}

}




@media only screen and (max-width: 350px) {
  .button-tow a {
    padding: 2.5rem 1.3rem;
  }

  .button-tow a {
    font-size: 1.1rem;
  }
  .tools-leftbox-one ul li a {
    padding: 1rem 1rem !important;
    font-size: 1.5rem;
  }
  .tools-leftbox-one ul {
    margin-right: 1rem !important;
  }
  .tools-leftbox-tow {
    margin-left: 1rem !important;
  }
  .tools-right {
    margin-right: 0;
  }

  .tools-leftbox-one ul {
    margin-right: 1rem !important;
    padding-left: 0;
  }
  .tools-rightbox-tow button:nth-child(1) {
    margin-right: 0 !important;
  }
  .col-md-6.col-sm-6.tool {
    width: 58%;
  }
  .col-md-6.col-sm-6.tool2 {
    width: 42%;
  }
  .button-tow {
    visibility: hidden;
    opacity: 0;
    display: none;
}
.col-md-2.col-sm-2 {
  width: 20%;
}
.col-md-4.col-sm-4 {
  width: 40%;
}
.col-md-6.col-sm-6.last {
  width: 40%;
}
.header-img {
  width: 30px;
  height: 30px;
  margin-left: 0;
  padding: 1rem;
}
.header-mid ul li a {
  font-size: 1.5rem;
}
.header-left h6 {
  margin-left: 0rem;
  font-size: 1.5rem;
  margin-top: .8rem;
}
.header-icon button i {
  font-size: 2rem;
}
.header-icon button {
  width: 3.7rem;
  height: 3.7rem;
}
.tools-leftbox-tow button {
  width: 3.5rem;
  height: 4rem;
}
.tools-rightbox-tow button:nth-child(1) {
  margin-right: 0 !important;
  width: 3.5rem;
  height: 4rem;
}
.tools-rightbox-one ul li a {
  padding: 0.9rem 1.5rem;
  font-size: 1.5rem;
}
.tools-rightbox-tow button i {
  font-size: 1.8rem;
}
.header-icon {
  margin-right: 0;
}
}
